<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css" />
  </head>
  <body>
    Hi

    <script src="/js/app.min.js"></script>
  </body>
</html>
